*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}

/* REEN project css code start */

/* HEADER SECTION CODE START */

.header-section{
	width: 100%;
}
.top-header{
	width: 100%;
	background: #f5f7fa;
	padding: 5px 0px;
}
.top-header .info-inner ul{
	padding: 0px;
	margin: 0px;
	display: block;
}
.top-header .info-inner ul li{
	list-style: none;
	display: inline-block;
}
.top-header .info-inner ul li a{
	font-size: 14px;
	font-weight: 600;
	color: #506a85;
	margin-right: 15px;
}
.top-header .info-inner ul li a:hover{
	color: #00bc9c;
}
.top-header .info-inner ul li a .fa{
	margin-right: 5px;
}



.top-header .social-icons{
	padding: 0px;
	margin: 0px;
	display: block;
	text-align: right;
}
.top-header .social-icons li{
	list-style: none;
	display: inline-block;
}
.top-header .social-icons li a{
	font-size: 14px;
	font-weight: 600;
	color: #506a85;
	margin-left: 15px;
}
.top-header .info-inner ul li a:hover{
	color: #00bc9c;
}

.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background: transparent !important;
}
.main-menu .navbar-light .navbar-nav .active>.nav-link{
	color: #506a85;
}
.main-menu .navbar-light .navbar-nav .nav-link{
	color: #506a85;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: .5s;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover, .main-menu .navbar-light .navbar-nav .nav-link:focus{
	color: #00bc9c;
}
.main-menu .fa-search{
	color: #506a85;
	font-size: 14px;
	font-weight: 700;
	transition: .5s;
}
.main-menu .fa-search:hover, .main-menu .fa-search:focus{
	color: #00bc9c;
}

/* HEADER SECTION CODE END */

/* SLIDER SECTION CODE START */

.slider-section{
	width: 100%;
}
.slider-section .carousel-caption{
	bottom: 35%;
}
.slider-section .carousel-caption h2{
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.slider-section .carousel-caption p{
	font-size: 16px;
	line-height: 26px;
	color: #a3b1bf;
}
.slider-section .carousel-caption .btn-info{
	padding: 10px 35px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #00bc9c;
	border: 1px solid #00bc9c;
	color: #fff;
	margin: 35px 0px 0px;
	transition: .5s;
}
.slider-section .carousel-caption .btn-info:hover{
	background: transparent;
	border: 1px solid #00bc9c;
	color: #00bc9c;
}
/* SLIDER SECTION CODE END */

/* WHO WE CODE START */

.who-we{
	width: 100%;
	padding: 80px 0px;
}
.who-we .title{
	width: 100%;
	text-align: center;
}
.who-we .title h2 {
    font-size: 29px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #506a85;
}
.who-we .title p {
    width: 55%;
    margin: 10px auto;
    font-size: 16px;
    line-height: 26px;
    color: #a3b1bf;
}
.who-we .media{
	padding: 30px 0px 0px;
}
.who-we .media-body{
	padding: 0px 10px;
}
.who-we .media-body h5{
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 3px;
	color: #506a85;
	margin: 0px 0px 10px;
}
.who-we .media-body p{
	font-size: 14px;
	line-height: 24px;
	color: #a3b1bf;
}

/* WHO WE CODE END */

/* PORTFOLIO CODE START*/

.portfolio{
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7;
}
.portfolio .title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio .title h2 {
    font-size: 29px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #506a85;
}
.portfolio .title p {
    width: 55%;
    margin: 10px auto;
    font-size: 16px;
    line-height: 26px;
    color: #a3b1bf;
}
.portfolio .card-body{
	text-align: center;
}
.portfolio .card-body h5{
	font-size: 18px;
	font-weight: 700;
	color: #506a85;
	margin-bottom: 5px;
}
.portfolio .card-body p{
	font-size: 14px;
	line-height: 24px;
	color: #a3b1bf;
}

/* PORTFOLIO CODE END*/